body {
    background-color: #50adff;
    font-family: poppins;
}

form {
    display: flex;
    margin: 50px auto;
    justify-content: center;
    align-items: flex-end;
}

input, label {
    display: block;
}

input {
    padding: 5px 70px 5px 0px;
}

.input1 {
    float: left;
    margin-right: 20px;
}

.input2{
    float: left;
}

button {
    /* display: block; */
    align-items: center;
    height: 100%;
    margin-left: 15px;
    font-family: poppins;
    color: white;
    background-color: red;
    border: none;
    padding: 5px 10px;
}

button:hover {
    background-color: rgb(250, 101, 101);
}
  
#game {
 width: 100%;;
display: flex;
justify-content: space-around;
margin-top: 60px;
}
  
#board {
  border-collapse: collapse;
 }

#board td {
 position: relative;
  width: 50px;
 height: 50px;
 border: solid 5px yellow;
}
  
#column-top td {
 border: dotted 3px lightyellow;
 border-collapse: separate;
}
  
#column-top td:hover {
 background-color: lightyellow;
 }
  
.heading {
 display: flex;
  font-family: poppins;
 font-size: 50px;
 font-weight: 700px;
 margin: 30px;
 justify-content: center;
 }
  
.connect {
 color: white;
 background-color: black;
 border: 10px double white;
 border-radius: 30px 0px 0px 30px;
 border-right: 6px solid black;
 padding: 3px 0px 3px 7px;
 position: relative;
 transform: translateX(-49px);
 margin-top: 10px;
 z-index: 1;
 }
  
.four {
 font-size: 90px;
 font-weight: 900;
 color: red;
 -webkit-text-stroke: 5px white;
 background-color: black;
 padding-right: 10px;
 border: 10px double white;
 border-radius: 30px;
 position: absolute;
 transform: translateX(123px);
margin-top: 10px;
top: 2.5px;
}
  /* pieces are div within game table cells: draw as colored circles */
  
div.piece {
 bottom: 1px;
 animation: 1s bounce .7s ease-in;
}
  
.played-piece {
/* TODO: make into circles */
position: absolute;
margin: 5px;
width: 80%;
height: 80%;
border-radius: 50%;
bottom: 400px;
transition: ease-in bottom .7s;
 }
  
.player2 {
  /* TODO: make into circles */
 position: absolute;
 margin: 5px;
 width: 80%;
 height: 80%;
 border-radius: 50%;
 background-color: blue;
 bottom: 400px;
 transition: ease-in bottom .7s;
}
  
@keyframes bounce {
 from {
   transform: translateY(0px);
 }

 20% {
   transform: translateY(-45px);
 }
  
 40% {
   transform: translateY(-28px);
 }
  
 65% {
   transform: translateY(-12px);
 }
  
 82% {
   transform: translateY(-6px);
 }

93% {
   transform: translateY(-4px);
}
    
55%, 75%, 87% {
   transform: translateY(0px);
 }
  
 100% {
   transform: translateY(0px);
 }
  
 }
  